html body #root{
  background: linear-gradient(to bottom, #ecf5ff, #ddddff);
  min-height: 100vh;
}

.main-color {
  color: #4b4ba0;
}

.sub-color {
  color: #4b4ba080;
}

.h1-text {
  line-height: 0.75;
}

.p-text {
  margin: 0;
  padding: 0 2px 0 2px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
